@model IEnumerable<MyPortfolio.Models.Portfolio>
<!--=============== PORTFOLIO SECTIN DESIGN ===============-->
<section class="portfolio" id="portfolio">
    <h2 class="heading">آخرین <span>پروژه</span></h2>

    <div class="portfolio-container">
        @foreach (var Portfolio in Model)
        {
            <div class="portfolio-box">
                <img src="~/images/@Portfolio.Image" alt="@Portfolio.Title" title="@Portfolio.Title" />
                <div class="portfolio-layer">
                    <h4>@Portfolio.Title</h4>
                    <p>@Portfolio.Description</p>
                    <a href="#" alt="@Portfolio.Title" title="@Portfolio.Title"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
        }
    </div>
</section>