@*@model Contact*@
@model List<Portfolio>

@{
    ViewData["Title"] = "صفحه اصلی سایت";
}

@section SEO
{
    <meta name="ketwords" content="سایت شخصی بنیامین چوپانی, طراحی سایت, طراحی نرم افزار,
     برنامه نویس, بک اند دولوپر, فرانت اند دولوپر, توسعه دهنده سایت">
    <meta name="description" content="صفحه رسمی بنیامین چوپانی" />
}

<!--=============== HEADER DESIGN ===============-->
@await Html.PartialAsync("HeaderDesign", new List<Portfolio>())

<!--=============== HOME SECTIN DESIGN ===============-->
@await Html.PartialAsync("HomeSectionDesign", new List<Portfolio>())

<!--=============== ABOUT SECTIN DESIGN ===============-->
@await Html.PartialAsync("AboutSectionDesign", new List<Portfolio>())

<!--=============== SERVICES SECTIN DESIGN ===============-->
@await Html.PartialAsync("ServicesSectonDesign", new List<Portfolio>())

<!--=============== PORTFOLIO SECTIN DESIGN ===============-->
@*@await Html.PartialAsync("PortfolioSectionDesign", new List<Portfolio>())*@
<section class="portfolio" id="portfolio">
    <h2 class="heading">آخرین <span>پروژه</span></h2>

    <div class="portfolio-container">
        @foreach (var Portfolio in Model)
        {
            <div class="portfolio-box">
                <img src="~/images/@Portfolio.Image" alt="@Portfolio.Title" title="@Portfolio.Title" />
                <div class="portfolio-layer">
                    <h4>@Portfolio.Title</h4>
                    <p>@Portfolio.Description</p>
                    <a href="#" alt="@Portfolio.Title" title="@Portfolio.Title"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
        }
    </div>
</section>

<!--=============== CONTACT SECTIN DESIGN ===============-->
@await Html.PartialAsync("ContentSectinDesign", new List<Portfolio>())
